body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #005500ba;
    gap: 40px;
    font-family: inter;
}

img {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 20vw;

}

div {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 20vw;
}

.header {
    gap: 10px;
}

.header * {
    color: rgba(255, 255, 255, 0.856);
    margin: 0;

}

.header h1 {
    font-style: italic;
}

.header h2 {
    font-weight: 200;
    font-size: 20px;
}

button {
    background-color: #034b03a8;
    width: 15vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    cursor: pointer;
}

button:hover {
    background-color: #034b03;
    width: 15vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: 200ms ease-in-out;
}